/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* charte graphique */
$rouge: #8E161C; .rouge{background: $rouge}.rouge-color{color: $rouge};
$rougeFonce: #640B0A; .rougeFonce{background: $rougeFonce}.rougeFonce-color{color: $rougeFonce};
$rougeClair: #ce8382; .rougeClair{background: $rougeClair}.rougeClair-color{color: $rougeClair};
$bleu: #4682cb; .bleu{background: $bleu}.bleu-color{color: $bleu};
$orange: #F66A15; .orange{background: $orange}.orange-color{color: $orange};
$typo: #333; .typo{background: $typo}.typo-color{color: $typo};


h1{
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.7rem;

	color:$rouge;

	padding-top:2rem;
	padding-bottom:1rem;
}

h2{
	/* padding-bottom:0.7rem; */
	font-size:1.2rem;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	background: $bleu;
	padding:1rem;
}

h3{
	/* padding-bottom:0.7rem; */
	font-size:1.2rem;
	color:$rouge;
	font-weight:bold;
}

p{
	text-align:justify;
	padding-bottom:1rem;
}

body{
  display: flex;
  font-size:100%;
  line-height:1.5em;
  font-family: 'Roboto', sans-serif;

  background: #ffffff;
}

#sidebar{
  background: #f5f7f8;
  width:250px;
  border-right:1px solid grey;
  .fixed{
  	position: fixed;
  	width: 250px;
  }
  ul{
	  li{
	    a{
			display: block;
			padding: 1rem 0;
			border-bottom: 1px solid #fff;

			text-decoration: none;
			text-align:center;
			text-transform: uppercase;
			font-weight: bold;

			background:$rouge;
			color:#fff;

			&:hover {
				background:$rougeFonce;
				color:#ffffff;
		    }
		    &:active {
				background:$rougeClair;
				color:#ffffff;
		    }
		    &:focus {
				background:$rougeClair;
				color:#ffffff;
		    }
	    }
	  }

	}
}

section{
  padding-left:1rem;
  padding-right:1rem;
  h2{
  	cursor:pointer; 
  	border-bottom: 2px solid #4682cb; 
  	margin-bottom: 1rem;
  }
  h3{
  	margin-bottom: 1rem;
  	span{
  		float:right;
  	}
  }
  .noteImportante{
  	p{
  		text-align:center;
  	}
  	background:$orange;
  	color:white;

  	padding:1rem 1rem 0 1rem;
  	margin-bottom: 1rem;

  	a{
  		text-decoration: none;
  		background: white;
  		color:$rouge;
  		padding:0 1rem;
  		font-weight: bold;
  	}
  }
  .content{
  	img{
  		padding-bottom: 1rem;
  	}
  }
}

.toggle{
	display:none;
}