/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* charte graphique */
.rouge {
  background: #8E161C;
}

.rouge-color {
  color: #8E161C;
}

.rougeFonce {
  background: #640B0A;
}

.rougeFonce-color {
  color: #640B0A;
}

.rougeClair {
  background: #ce8382;
}

.rougeClair-color {
  color: #ce8382;
}

.bleu {
  background: #4682cb;
}

.bleu-color {
  color: #4682cb;
}

.orange {
  background: #F66A15;
}

.orange-color {
  color: #F66A15;
}

.typo {
  background: #333;
}

.typo-color {
  color: #333;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #8E161C;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2 {
  /* padding-bottom:0.7rem; */
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: #4682cb;
  padding: 1rem;
}

h3 {
  /* padding-bottom:0.7rem; */
  font-size: 1.2rem;
  color: #8E161C;
  font-weight: bold;
}

p {
  text-align: justify;
  padding-bottom: 1rem;
}

body {
  display: flex;
  font-size: 100%;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}

#sidebar {
  background: #f5f7f8;
  width: 250px;
  border-right: 1px solid grey;
}
#sidebar .fixed {
  position: fixed;
  width: 250px;
}
#sidebar ul li a {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: #8E161C;
  color: #fff;
}
#sidebar ul li a:hover {
  background: #640B0A;
  color: #ffffff;
}
#sidebar ul li a:active {
  background: #ce8382;
  color: #ffffff;
}
#sidebar ul li a:focus {
  background: #ce8382;
  color: #ffffff;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
}
section h2 {
  cursor: pointer;
  border-bottom: 2px solid #4682cb;
  margin-bottom: 1rem;
}
section h3 {
  margin-bottom: 1rem;
}
section h3 span {
  float: right;
}
section .noteImportante {
  background: #F66A15;
  color: white;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
}
section .noteImportante p {
  text-align: center;
}
section .noteImportante a {
  text-decoration: none;
  background: white;
  color: #8E161C;
  padding: 0 1rem;
  font-weight: bold;
}
section .content img {
  padding-bottom: 1rem;
}

.toggle {
  display: none;
}
